.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-90{
    margin-top:90px;
}
.mt-75{
    margin-top: 75px;
}
.text-gray{
    color: #aaa;
}
.f-18{
    font-size:18px;
}
.f-24{
    font-size: 24px;
}
.f-26{
    font-size:26px !important;
}
.text-bold{
    font-weight: bold;
}
.bubble {
    transform: scale(1);
    transition: all 0.5s;
}

.bubble.animate {
    color: orangered;
    transform: scale(2);
}
audio{
    display:none;
}