.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-90{
    margin-top:90px;
}
.mt-75{
    margin-top: 75px;
}
.text-gray{
    color: #aaa;
}
.f-18{
    font-size:18px;
}
.f-24{
    font-size: 24px;
}
.f-26{
    font-size:26px !important;
}
.text-bold{
    font-weight: bold;
}
.bubble {
    transform: scale(1);
    transition: all 0.5s;
}

.bubble.animate {
    color: orangered;
    transform: scale(2);
}
audio{
    display:none;
}

.round-container{
    position:relative;
}
.round-point {
    position: absolute;
    top: 3px;
    font-size: 20px;
    padding: 5px 1px;
    border: 1px solid white;
    border-radius: 2em;
}
.round-point.strong {
    font-size: 24px;
    border-radius: .25em;
}
.w-full{
    width:100%;
}
#rounds .progress {
    height: 40px;
}
.hidden{
    display: none;
}
.timer {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.nav_title, .nav_menu,.sidebar-footer a , .main_container, .left_col, .sidebar-footer{
    background: #222629 ;
}

.site_title, .nav.side-menu>li>a, .nav.child_menu>li>a, .profile_info span,.profile_info h2 , .sidebar-footer a, .toggle a i, .nav.navbar-nav>li>a{
    color:#26B99A !important;
}

.nav.side-menu>li.current-page, .nav.side-menu>li.active{
    border-right: 5px solid #26B99A ;
}
body{
    background: #222629;
}


.site_title i{
    border: 1px solid #26B99A ;
}
.profile_left, .x_panel,.page-title .title_left{
    color: #222629;
}
.btn-primary{
    background: #2B7278;
    border: 1px solid #2B7278;
}
.btn-primary:hover:active:focus{
    background: #2B7265;
    border: 1px solid #2B7265;
}
.btn-success{
    background: #26B99A;
    border: 1px solid #26B99A;
}
.btn-success:hover:active:focus{
    background: #26B982;
    border: 1px solid #26B982;
}