<!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav class="" role="navigation">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              
              @if(User.Identity.IsAuthenticated)
              {
                <ul class="nav navbar-nav navbar-right">
                  <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <img src="/lib/gentelella/production/images/img.jpg" alt="">
                      @User.Identity.Name
                      <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                      <li><a asp-area="" asp-controller="Admin" asp-action="Index"> <i class="fa fa-pencil-square-o pull-right"></i> Админски панел</a></li>
                      <li><a asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out pull-right"></i> Одјава </a></li>
                    </ul>
                  </li>
                </ul>
              }
              else 
              {
                <ul class="nav navbar-nav navbar-right">
                  <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      Судија
                      <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                      <li><a asp-area="" asp-controller="Account" asp-action="Register"><i class="fa fa-arrow-right pull-right"></i> Регистрација </a></li>
                      <li><a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in pull-right"></i> Најава </a></li>
                    </ul>
                  </li>
                </ul>
              }
            </nav>
          </div>
        </div>
        <!-- /top navigation -->